@import (reference) "_vars.less";

@sidebarWidth: 300px;

.sidebar {
  display: none;
  width: @sidebarWidth;

  &.visible {
    display: block;
  }
}

.drop-area {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  background: rgba(255, 0, 0, 0);
  z-index: 1;

  &.first {
    background: rgba(0, 0, 255, 0);
    top: -50%;
  }
}

.team li {
  position: relative;
  border-bottom: 1px solid white;

  &.space-after {
    border-bottom: 3px solid white;
  }

  &:first-of-type {
    border-top: 1px solid white;

    &.space-before {
      border-top: 3px solid white;
    }
  }
}

.draggable {
  position: relative;
}
